button {
  @include transition (all, 0.5s, ease);
  text-align: center;
  font-weight: 600;
  word-spacing: 2px;
  padding: 12px 20px;
  border-radius: 3px;
  border: none;
  box-shadow: $box-shadow;

  &.btn-white {
    @include button-bg($white);
    color: $green;
  }

  &.btn-green {
    @include button-bg($green);
    color: $white;
  }

  + button {
    margin-left: 10px;
  }
}

@media screen and (max-width: $break-small){
  button + button {
    margin-left: 4px;
  }
}