@font-face {
  font-family: 'Montserrat-Regular.ttf';
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat-Regular.ttf';
  src: url('fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('ttf');
  font-weight: 600;
}