
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}

@mixin button-bg($bg) {
  background: $bg;

  &:hover {
    background:darken($bg, 2%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg, 5%);
  }
}

@mixin title() {
  margin-bottom: 0.35em;
  line-height: 1.2;
  font-weight: 500;
}

@mixin title-2 {
  @include title;
  font-size: 2.667em;

  @media screen and (max-width: $break-medium) {
    font-size: 1.77em;
  }

  @media screen and (max-width: $break-small) {
    font-size: 1.467em;
  }
}

@mixin title-3 {
  @include title;
  font-size: 2em;

  @media screen and (max-width: $break-medium) {
    font-size: 1.47em;

  }
}

@mixin title-4 {
  @include title;
  font-size: 1.34em;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

@mixin wrapper() {
  max-width: 920px;
  padding: 0 15px;
  @include center-block;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}