$font-base: 500 15px 'Montserrat', sans-serif;

$black: #000;
$green: #47B972;
$white: #fff;
$light-blue: #F7F8FF;
$grey: #686C71;
$light-grey: #EAEBF2;
$bg-grey: #F7F8F8;
$blue: #3B7ADB;
$box-shadow:  0 2px 7px 0 rgba(50, 50, 50, 0.5);

$break-small: 480px;
$break-medium: 768px;