.popup {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 920px;
  width: 80%;
  height: 80%;
  max-height: 725px;
  background: $white;
  overflow: hidden;
  -webkit-box-shadow:  0 0 0 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0 0 0 9999px rgba(0, 0, 0, 0.5);
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 500ms;

  .popup-content {
    padding: 30px 20px;

  }

  .close-popup {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: url("../images/icons/close.svg") center no-repeat;
    cursor: pointer;
  }

  &.popup-trial {

    .popup-text {
      max-width: 440px;
      margin: 0 auto;
      text-align: center;

      .link-arrow {
        display: inline-block;
        margin-top: 25px;
      }
    }

    img {
      max-width: 100%;
    }
  }
}