.contact-us {
  @include center-block;
  max-width: 1440px;
  margin-top: 152px;
  background: url("../images/footer.png") -70px bottom no-repeat;
  background-size: 125%;

  h2 {
    font-size: 3.34em;
  }
}

.contact-info {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 26%;

  .contact-content {
    max-width: 365px;
  }

  .contact-form {
    box-sizing: border-box;
    padding-left: 20px;
    max-width: 460px;
    flex-grow: 2;
  }

  p {
    font-size: 20px;

    + p {
      margin-top: 30px;
    }
  }
}

.contact-form {

  input[type="text"], textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    border: 1px  solid  $light-grey;
  }

  input[type="text"] {
    height: 40px;
    box-sizing: border-box;
  }

  textarea {
    resize: none;
    height: 120px;
  }

  span {
    display: inline-block;
    margin-bottom: 12px;
  }

  fieldset {
    margin-bottom: 40px;
  }
}


@media screen and (max-width: $break-medium) {

  .contact-us {
    margin-top: 90px;
    background-size: 180%;

    h2 {
      font-size: 2.3em;
    }
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    padding-bottom: 48%;

    > div:nth-child(n) {
      padding: 0;
      width: 100%;
      max-width: 500px;
    }

    .contact-form {
      margin-top: 35px;
    }
  }
}

@media screen and (max-width: $break-small){

  .contact-us {
    margin-top: 90px;
    background-size: 230%;
    background-position-x: 14%;
  }
}