.features {
  padding: 0 15px;
  margin-top: 158px;

  h2 {
    text-align: center;
  }
}

.features-list {
  display: flex;
  justify-content: center;
  margin-bottom: 58px;

  li {
    @include transition (all, 0.5s, ease);
    color: $blue;
    padding: 6px 19px;
    background: transparent;
    border-radius: 15px;
    cursor: pointer;

    &:hover,
    &.active{
      background-color: $blue;
      color: $white;
    }

    &.active {
      cursor: default;
    }

    + li {
      margin-left: 3px;
    }
  }

  > span.mobile-version {
    display: none;
  }
}

.features-content {
  @include center-block;
  @include border('top', 2px, solid, $light-grey);
  display: none;
  max-width: 1440px;
  flex-wrap: wrap;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;

  &.active-content {
    display: flex;
  }
}

.features-item {
  @include border('bottom', 2px, solid, $light-grey);
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 10% 40px 60px;

  &:nth-child(2n+1) {
    justify-content: flex-end;
  }

  &:nth-child(2n) {
    @include border('top', 2px, solid, $light-grey);
    justify-content: flex-start;
  }
}

.features-inner {
  flex-basis: 360px;
  min-height: 300px;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 60px;

  .link-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}


@media screen and (max-width: $break-medium){

  .features {
    margin-top: 85px;
    position: relative;
  }

  .features-item {
    width: 100%;
    padding: 45px 30px;

    &:nth-child(n) {
      border-left: none;
    }
  }

  .features-inner {
    @include center-block;
    min-height: 280px;
  }

  .features-list {
    @include center-block;
    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
    z-index: 5;
    max-width: 48%;
    min-width: 222px;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    &.open {
      box-shadow: $box-shadow;
      background: $white;

      > span.mobile-version {
        transform: rotate(-180deg);
      }

      li {
        display: block;

        &.active {
          color: $black;

          &:hover {
            color: $black;
          }
        }
      }
    }

    > span.mobile-version {
      display: block;
      cursor: pointer;
      background: url("../images/icons/arrow-down.svg") 0 0 no-repeat;
      width: 9px;
      height: 6px;
      position: absolute;
      right: 25px;
      top: 32px;


      &:before {
        @include pseudo;
        width: 30px;
        height: 30px;
        top: -12px;
        left: -10px;
        }
    }

    li {
      display: none;

      &.active {
        display: block;
        background: none;
        color: $blue;

        &:hover {
          color: $blue;
        }
      }

      &:hover {
        background: none;
        color: $black;
      }

      + li {
        margin: 0;
      }
    }
  }

  .features-blocks {
    margin-top: 100px;
  }
}

